body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    background: #0066ff;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #004ecc;
}
